:root {
    --mainColor: #336699;
    --mainColorLight: #538cc6;
    --mainColorDark: #204060;
    --mainGrey: #666666;
    --mainFont: 'Montserrat', sans-serif;
    --fontSm: 14px;
    --fontMd: 18px;
    --fontMdLg: 24px;
    --fontLg: 36px;
}

@media (max-width: 1600px) {
    :root {
        --fontSm: 12px;
        --fontMd: 14px;
        --fontMdLg: 20px;
        --fontLg: 32px;
    }
}

$my-theme-primary: mat-palette($mat-indigo, 700, 300, 900);
$my-theme-accent: mat-palette($mat-light-blue);
$my-theme-warn: mat-palette($mat-deep-orange, A200);

$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);