<aside class="sidenav">
    <div class="container-sidenav">
        <header>
            <div class="sidenav_logo">
                <img src="/assets/images/logo_dark.jpg">
            </div>
        </header>

        <mat-accordion>
            <!-- SEARCH BOX -->
            <mat-expansion-panel [expanded]="step == 0">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>search</mat-icon> Search
                </mat-panel-title>
              </mat-expansion-panel-header>

              <app-search></app-search>
            </mat-expansion-panel>
            
          </mat-accordion>
          
    </div>
</aside>