@import 'src/assets/styles/sidenav-base.scss';

.mat-expansion-panel {
    border-radius: 0;
    box-shadow: none;
    border-top: 1px solid var(--mainBgPrimary);
    background: var(--mainBgLight);

    &:last-child {
        border-bottom: 0.5px solid var(--mainBgPrimary);
    }

    .mat-expansion-panel-header {
        background: #1da9f4;
        border-radius: 0 !important;
        border: none;
        font-weight: 600;
        font-size: 1.2em;
        display: flex;
        align-items: center;

        .mat-expansion-panel-header-title {
            color: #FFF;
            font-weight: 400;

            .mat-icon {
                margin-right: 10px;
            }
        }

        .mat-expansion-panel-body {
            background: #FFF;
        }

        &:hover {
            background: rgba(#000, 0.3);
        }
    }
}

.mat-expansion-panel-spacing {
    margin: 0;
}
