<div class="timeseries_label-msg" *ngIf="actived">
    {{ 'explore.map.timeSeries.label' | translate }}
</div>

<div class="container-timeseries" *ngIf="features.length">
    <div class="btn-start" (click)="active()">
        <mat-icon>show_chart</mat-icon>
    </div>

    <div class="btn-view" *ngIf="actived" (click)="showBox()">
        {{ 'explore.map.timeSeries.btns.view' | translate }}
    </div>
    <div class="btn-cancel" *ngIf="actived" (click)="desactive()">
        {{ 'explore.map.timeSeries.btns.cancel' | translate }}
    </div>
</div>
