<section class="explore">    
    <mat-drawer-container class="sidenav" autosize>
        <!-- NAVIGATION -->
        <mat-drawer 
            #sidenav
            class="sidenav"
            mode="side"
            [opened]="true"
        >
            <app-sidenav></app-sidenav>
        </mat-drawer>
        
        <!-- CONTENT -->
        <section>
            <div #toolbar>
                <app-toolbar 
                    (toggleToEmit)="toggleDrawer()"
                ></app-toolbar>
            </div>

            <app-base-map 
                [height]="innerHeight"
            ></app-base-map>
        </section>
    </mat-drawer-container>
</section>

<footer 
    #footer
    class="footer">
    <p>© 2019 - BRAZIL DATA CUBE (BDC)</p>
</footer>