.edit-color_container {
    position: absolute;
    z-index: 999;
    left: 10px;
    bottom: 150px;
    max-height: 40%;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    width: 310px;
    border-radius: 7.5px;
    overflow-x: hidden;
    overflow-y: auto;

    .header {
        display: flex;
        position: fixed;
        z-index: 999;
        width: 295px;
        align-items: center;
        justify-content: space-between;
        background: #FFF;
        font-size: 16px;
        color: #176dc2;
        border-bottom: 1px solid #2196f3;
        border-radius: 7.5px 7.5px 0 0;
        padding: 0px 5px 0 10px;
        box-shadow: 0 1px 4px rgba(0,0,0,0.16);
        
        h1 {
            display: flex;
            align-items: center;
            margin: 5px 0;
            cursor: grab;
        }

        .mat-icon {
            color: #999;
        }
    }

    .content {
        background: rgba(#FFF, 0.9);
        margin-top: 40px;
        padding: 15px 10px;

        .bands {
            display: flex;
            justify-content: space-between;

            .mat-form-field {
                width: 32%;
            }
        }

        .box-slider {
            margin-top: -15px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .mat-slider {
                margin-top: 0px !important;
            }
        }

        button {
            display: block;
            margin: 10px auto 0 auto;
            background: var(--mainColor) !important;
        }
    }

    /* SCROLL */
    &::-webkit-scrollbar {
        width: 8px;
        border-radius: 0 7px 7px 0;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: #FFF;
        border-radius: 0 7px 7px 0;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--mainColor);
        border-radius: 0 7px 7px 0;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--mainColor);
    }

}
