.container-slider {
    z-index: 999;
    position: absolute;
    padding: 10px 25px;
    bottom: 50px;
    left: 5%;
    width: 90%;
    background: rgba(#FFF, 1);
    border-radius: 5px;
    border: 2px solid rgba(#000, 0.4);

}

::ng-deep {
    .ng5-slider-active:after {
        background-color: #FFF !important;
    }
}