.btn_lang-select {
    width: 100px;
    margin-top: 5px;
    font-size: 16px;
}

.lang_option {
    display: flex;
    align-items: center;
    font-size: 14px;
    
    img {
        width: 36px;
        margin-right: 10px;
    }
}