<div class="features">

    <!-- FEATURE -->
    <div class="box-features">
      <div *ngFor="let feature of features$">
        <div [ngClass]="(feature.enabled==true)?'feature feature-actived':'feature'"
             (click)="enableActions(feature.id)">
          <div class="feature_ql">
            <img [src]="feature.assets.thumbnail.href" />
          </div>

          <div class="feature_desc">
            <p><b>{{ feature.id }}</b></p>
            <p>{{ feature.properties.collection }}</p>
            <p>{{ getDateFormated(feature.properties.datetime) }}</p>
          </div>
        </div>

        <!-- ACTIONS FEATURE -->
        <div class="feature-actions" *ngIf="feature.actions">
          <mat-slide-toggle
            [(ngModel)]="feature.enabled"
            (change)="onChangeLayer($event, feature)">
          </mat-slide-toggle>

          <mat-icon
            *ngIf="feature.enabled"
            (click)="setZoom(feature)"
            class="zoom">
            zoom_out_map
          </mat-icon>

          <mat-icon
            *ngIf="feature.enabled"
            (click)="viewFeatureDetails(feature)"
            class="zoom">
            cloud_download
          </mat-icon>
        </div>
      </div>
    </div>

</div>