<div class="features">

  <div class="collection">
    <div class="collection-header">
      <p>{{ features$['0'].collection.toUpperCase() }}</p>
    </div>

    <!-- ACTIONS COLLECTION -->
    <div *ngIf="featuresPeriod$.length">
      <div class="collection-functions">
        <mat-slide-toggle
          [(ngModel)]="featuresPeriod$['0'].enabled"
          (change)="onChangeLayer($event)">
        </mat-slide-toggle>

        <mat-icon
          class="btns"
          (click)="setZoomByCube()">
          zoom_out_map
        </mat-icon>

        <mat-icon
          class="btns"
          *ngIf="featuresPeriod$['0'].enabled"
          (click)="viewOpacityCube()">
          brightness_medium
        </mat-icon>

        <mat-icon
          class="btns"
          (click)="viewCubeDetails()">
          cloud_download
        </mat-icon>
      </div>

      <div class="box-opacity" *ngIf="opacityEnabled">
        <mat-slider
          [max]="10"
          [min]="0"
          [(ngModel)]="opacity">
        </mat-slider>
        <button mat-stroked-button (click)="setOpacityCube()">update</button>
      </div>
    </div>

    <!-- FEATURE -->
    <div class="box-features">
      <div *ngFor="let feature of featuresPeriod$">
        <div class="feature"
             (click)="enableFeatureActions(feature.id)">
          <div class="feature_ql">
            <img [src]="feature.assets.thumbnail.href" />
          </div>

          <div class="feature_desc">
            <p><b>{{ feature.id }}</b></p>
            <p>{{ getDateFormated(feature.properties.datetime) }}</p>
          </div>
        </div>

        <!-- ACTIONS FEATURE -->
        <div class="feature-actions" *ngIf="feature.actions">
          <mat-icon
            (click)="setZoomByFeature(feature)"
            class="btns">
            zoom_out_map
          </mat-icon>

          <mat-icon
            (click)="viewFeatureDetails(feature)"
            class="btns">
            cloud_download
          </mat-icon>
        </div>
      </div>
    </div>
  </div>

</div>