<section class="about-container">

    <header>
        <div class="logo">
            <img src="/portal/assets/images/logo-without-title.png" />
        </div>
        
        <h1 class="title">
            Brazil Data Cube Project
        </h1>
    </header>

    <div class="description">
        Brazil Data Cube - about...<br>
    </div>

    <div class="supporters">
        <img src="/portal/assets/images/supporters.jpg" />
    </div>

    <a class="btn-link" href="http://brazildatacube.dpi.inpe.br" target="_blank">
        Read more about Brazil Data Cube
    </a>
    
</section>