<nav>
    <mat-toolbar color="primary" class="toolbar">
        <mat-toolbar-row class="tol_container">
            <div class="tol_cont-title">
                <div
                    class="title_btn-toggle"
                    (click)="toggleDrawer()">
                    <mat-icon>menu</mat-icon>
                </div>
                <span>Brazil Data Cube</span>
            </div>

            <div class="tol_cont-buttons">
                <span
                    style="margin-right: 15px;"
                    (click)="openAbout()">
                    About
                </span>
 
                <span
                    *ngIf="!logged"
                    (click)="openLogin()">
                    Login
                </span>

                <span
                    *ngIf="logged"
                    [routerLink]="'/admin'">
                    Dashboard
                </span>

                <app-select-lang></app-select-lang>

                <button
                    mat-icon-button
                    *ngIf="logged"
                    (click)="logout()"
                    class="logout-btn">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>