<nav>
    <mat-toolbar color="primary" class="toolbar">
        <mat-toolbar-row class="tol_container">
            <div class="tol_cont-title">
                <div
                    class="title_btn-toggle"
                    (click)="toggleDrawer()">
                    <mat-icon>menu</mat-icon>
                </div>
                <span>Brazil Data Cube</span>
            </div>
            
            <div class="tol_cont-buttons">
                <button
                    *ngIf="!logged"
                    mat-flat-button
                    (click)="openLogin()">
                    LOGIN
                </button>

                <div *ngIf="logged">
                    <button 
                        mat-raised-button
                        [matMenuTriggerFor]="menu">
                        Dashboard
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="'/admin'">
                            <mat-icon>build</mat-icon>
                            <span>Dashboard</span>
                        </button>
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Logout</span>
                        </button>
                    </mat-menu>
                </div>

                <app-select-lang></app-select-lang>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>