.mat-toolbar {
    background: var(--mainBgPrimary) !important;
}

.tol_container {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 6px rgba(#000, 0.16);
    z-index: 999;

    .tol_cont-title {
        display: flex;
        align-items: center;

        .title_btn-toggle {
            padding: 8px 10px 0 10px;
            border-radius: 50%;
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                background: rgba(#000, 0.1);
            }
        }
    }

    .tol_cont-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        button {
            margin-right: 15px;
        }
    }
}