.container-search {
    padding: 20px 0px;

    .search__region-box {
        background: #f9f9f9;
        padding: 15px !important;
        border-radius: 5px 5px 0 0;
        border-bottom: 1px solid #1da9f4;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .box-coordinates {
            padding: 10px 10px 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .mat-form-field {
                width: 50%;
                padding: 0 5px !important;
            }

            .field-top-bottom {
                width: 60%;
                margin: 0 20% 0 20%;

                .mat-form-field {
                    width: 100% !important;
                    padding: 0 5px !important;
                }
            }
        }

        .region__btn-functions {
            display: block;
            margin: -20px auto 5px auto;
        }
    }

    hr {
        margin: 0px 0 15px 0;
        padding: 0;
        border: 0.5px dashed var(--mainBgPrimary);
    }

    .btn-filter {
        display: block;
        margin: 0 auto;
        width: 250px;
        font-size: 18px;
    }
}
