<aside class="sidenav">
    <div class="container-sidenav">
        <header>
          <div class="sidenav_logo">
            <img src="/portal/assets/images/logo-mapa.png">
          </div>
        </header>

        <section class="links">
          <div *ngFor="let link of links"
            [ngClass]="pathActive === link.group ? 'link active': 'link'"
            [routerLink]="link.path">
            <mat-icon>{{ link.icon }}</mat-icon> <strong>{{ link.title }}</strong>
          </div>
        </section>
    </div>
</aside>