@import 'src/assets/styles/sidenav-base.scss';

.links {
    border-top: 1px solid var(--mainBgPrimary);
    display: flex;
    flex-direction: column;

    .link {
        display: flex;
        align-items: center;
        width: calc(100% - 40px);
        padding: 15px 20px;
        background: rgba(#1da9f4, 0.9);
        font-size: 1.2em;
        color: #FFF;
        cursor: pointer;
        font-family: "Roboto", "Helvetica Neue", sans-serif;

        .mat-icon {
            margin-right: 15px;
        }

        &:hover {
            background: rgba(#1da9f4, 0.8);
        }

        &.active {
            background: rgba(#1da9f4, 1);

            &:hover {
                background: rgba(#1da9f4, 0.8);
            }
        }
    }
}