@import 'src/assets/styles/sidenav-base.scss';

.links {
    border-top: 1px solid var(--mainBgPrimary);
    display: flex;
    flex-direction: column;

    .link {
        display: flex;
        align-items: center;
        width: calc(100% - 40px);
        padding: 15px 20px;
        background: rgba(#FFF, 0.8);
        font-size: 1.2em;
        cursor: pointer;
        font-family: "Roboto", "Helvetica Neue", sans-serif;

        .mat-icon {
            margin-right: 15px;
        }

        &:hover {
            background: rgba(#FFF, 0.4);
        }

        &.active {
            background: rgba(#FFF, 0.6);
        }
    }
}