<aside class="sidenav">
    <div class="container-sidenav">
        <header>
          <div class="sidenav_logo">
            <img src="/assets/images/logo_dark.jpg">
          </div>
        </header>

        <section class="links">
          <div class="link" [routerLink]="'/admin/cubes'">
            <mat-icon>filter_none</mat-icon> <strong>Cubes</strong>
          </div>

          <div class="link" [routerLink]="'/explore'">
            <mat-icon>arrow_back</mat-icon> <strong>Go to Map</strong>
          </div>
        </section>

    </div>
</aside>