<div class="box-catalog"
    *ngIf="visibleBox"
    cdkDrag>
    <div class="header">
        <h1 cdkDragHandle>
            <mat-icon>open_with</mat-icon>
            {{ 'explore.map.catalog.box.title' | translate }}
        </h1>
        <button mat-icon-button (click)="closeBox()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="content">
        <form class="box_search" [formGroup]="formSearch" (ngSubmit)="search()">
            <!-- PROVIDERS -->
            <mat-form-field appearance="outline">
                <mat-label>{{ 'explore.map.catalog.box.form.providers' | translate }}</mat-label>
                <mat-select [(value)]="providers" multiple formControlName="providers" required>
                    <mat-option *ngFor="let provider of providersList" [value]="provider" (click)="getCollections()">{{ provider }}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- COLLECTIONS -->
            <mat-form-field appearance="outline" style="margin-top: -20px;">
                <mat-label>{{ 'explore.map.catalog.box.form.collections' | translate }}</mat-label>
                <mat-select [(value)]="collections" multiple formControlName="collections" required>
                    <mat-option *ngFor="let collection of collectionsList" [value]="collection">
                        {{ collection.split(':')[1] }}{{ collection.split(':').length > 2 ? ':'+collection.split(':')[2] : '' }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- RANGE DATES -->
            <mat-form-field appearance="outline" style="margin-top: -20px; width: 49%">
                <mat-label>{{ 'explore.map.catalog.box.form.startDate' | translate }}</mat-label>
                <input matInput
                    [matDatepicker]="startDate"
                    name="startDate"
                    [min]="rangeTemporal[0]"
                    [max]="rangeTemporal[1]"
                    formControlName="startDate"
                    [(ngModel)]="searchObj.startDate"
                    required>
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin-top: -20px; margin-left: 2%; width: 49%">
                <mat-label>{{ 'explore.map.catalog.box.form.lastDate' | translate }}</mat-label>
                <input matInput
                    [matDatepicker]="lastDate"
                    [min]="rangeTemporal[0]"
                    [max]="rangeTemporal[1]"
                    name="lastDate"
                    formControlName="lastDate"
                    [(ngModel)]="searchObj.lastDate"
                    required>
                <mat-datepicker-toggle matSuffix [for]="lastDate"></mat-datepicker-toggle>
                <mat-datepicker #lastDate></mat-datepicker>
            </mat-form-field>

            <!-- CLOUD COVER -->
            <mat-form-field appearance="outline" style="margin-top: -20px;">
                <mat-label>{{ 'explore.map.catalog.box.form.cloud' | translate }} (max)</mat-label>
                <input type="number"
                    min="1"
                    max="100"
                    matInput
                    name="cloud"
                    formControlName="cloudCover"
                    [(ngModel)]="searchObj.cloudCover">
                <span matSuffix>%</span>
            </mat-form-field>

            <button type="submit" mat-raised-button class="btn-search">
                {{ 'explore.map.catalog.box.form.btn' | translate }}
            </button>
        </form>

        <div class="results">
            <app-results-catalog
                [features]="items"
                [itemsCatalog]="imagesCatalog"
                [authPOST]="authPOST">
            </app-results-catalog>
        </div>
    </div>
</div>