.box-catalog {
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 140px;
    bottom: 130px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    width: 350px;
    overflow: auto;

    .header {
        display: flex;
        justify-content: space-between;
        background: #FFF;
        font-size: 1.2em;
        color: #333;
        padding: 0 0 0 20px;

        .mat-icon {
            color: #999;
        }
    }

    .content {
        background: #FFF;

        .box_search {
            padding: 10px;
            border-bottom: 1px dashed #666;

            .btn-search {
                display: block;
                margin: -15px auto 5px auto;
            }
        }
    }
}