<div class="box-time_series" *ngIf="listBands.length">
    <div class="filter-bands">
        <p><mat-icon>burst_mode</mat-icon>
            {{ collection }} ({{ subCollection }})
        </p>
        <p><mat-icon>date_range</mat-icon>
            {{ rangeTemporal[0] }} / {{ rangeTemporal[1] }}
        </p>
        <p><mat-icon>location_on</mat-icon>
            Lat Lng = [
            <b>{{ latLng['lat'] }}</b>,
            <b>{{ latLng['lng'] }}</b>
        ]</p>
        <p><mat-icon>apps</mat-icon>
            Select Bands:
        </p>
        <div class="bands">
            <div *ngFor="let band of listBands" style="margin-top: 15px;">
                <mat-checkbox [(ngModel)]="bands[band]">
                    {{ band.toUpperCase() }}
                </mat-checkbox>
            </div>
        </div>

        <button mat-stroked-button color="primary" (click)="search()">
            Generate Time Series
        </button>
    </div>

    <div *ngIf="graphicShow">
        <div class="graphic">
            <canvas baseChart
                style="height: 250px;"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="true"
                chartType="line">
            </canvas>

        </div>
        <div class="box-tension">
            <mat-slide-toggle
                [(ngModel)]="lineTension"
                (change)="changeLineTension($event)">
            </mat-slide-toggle>
            <p style="margin-left: 10px;">Line Tension</p>
        </div>
    </div>
</div>