<div class="container-edit_cubes" *ngIf="cube">
    <h1>{{ cube.datacube }} - Process</h1>
    <hr />

    <p>
        <mat-icon>date_range</mat-icon>
        Select period:
    </p>

    <form [formGroup]="formStartCube"
        (ngSubmit)="startProcess()">
        <mat-form-field appearance="fill">
                <mat-label>Tiles</mat-label>
                <input matInput
                    name="tiles"
                    formControlName="tiles"
                    [(ngModel)]="infos.tiles">
            </mat-form-field>

        <div class="inline-block">
            <mat-form-field appearance="fill">
                <mat-label>Start Date</mat-label>
                <input matInput
                    [matDatepicker]="startDate"
                    [min]="rangeTemporal[0]"
                    [max]="rangeTemporal[1]"
                    placeholder="Start Date"
                    name="startDate"
                    formControlName="startDate"
                    required
                    [(ngModel)]="infos.startDate">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" style="margin-left: 10px;">
                <mat-label>Last Date</mat-label>
                <input matInput
                    [matDatepicker]="lastDate"
                    [min]="rangeTemporal[0]"
                    [max]="rangeTemporal[1]"
                    placeholder="Last Date"
                    name="lastDate"
                    formControlName="lastDate"
                    required
                    [(ngModel)]="infos.lastDate">
                <mat-datepicker-toggle matSuffix [for]="lastDate"></mat-datepicker-toggle>
                <mat-datepicker #lastDate></mat-datepicker>
            </mat-form-field>
        </div>
        
        <button 
            mat-raised-button 
            color="primary"
            type="submit">
            Start Processing
        </button>
    </form>
</div>