@import '~@angular/material/theming';

// $mat-bdc: (
//   50: #ffebee,
//   100: #ffcdd2,
//   200: #ef9a9a,
//   300: #e57373,
//   400: #ef5350,
//   500: #f44336,
//   600: #e53935,
//   700: #d32f2f,
//   800: #c62828,
//   900: #b71c1c,
//   A100: #ff8a80,
//   A200: #ff5252,
//   A400: #ff1744,
//   A700: #d50000
// );

$bdc_theme-primary: mat-palette($mat-blue);
$bdc_theme-accent : mat-palette($mat-green);
$bdc_theme-warn   : mat-palette($mat-amber);

$bdc_theme: mat-light-theme( 
  $bdc_theme-primary,
  $bdc_theme-accent,
  $bdc_theme-warn
);
