.sidenav {
    display: flex;
    height: 100%;
    background: #FFF;
    overflow: auto;

    .container-sidenav {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        width: 399px;

        header {
            .sidenav_logo {
                background-color: var(--mainBgPrimary);
                padding: 30px 0px 30px 0px !important;
                display: flex;
                justify-content: center;
            }
        }
    }

    /* SCROLL */
    &::-webkit-scrollbar {
        width: 4px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: var(--mainBgPrimary);
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgba(#FFF, 0.3);
        border-radius: 5px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(#FFF, 0.3);
    }
}

@media (max-width: 1024px) {
    .sidenav  {
        .container-sidenav {
            width: 330px;
        }
    }
}