<div class="form-select">
    <mat-form-field appearance="fill">
        <mat-label>{{ 'explore.sidenav.samples.form.authors' | translate }}</mat-label>
        <mat-select [(value)]="authors" multiple>
            <mat-option *ngFor="let author of authorsList" [value]="author">{{ author }}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-flat-button (click)="filtered()">{{ 'explore.sidenav.samples.form.btn' | translate }}</button>
</div>

<div class="box-classes">
    <div class="class" *ngFor="let class of classesList">
        {{ class }}

        <div class="actions">
            <mat-slide-toggle
                [(ngModel)]="classesStatus[class]"
                (change)="enableClass($event, class)">
            </mat-slide-toggle>
            <input
                type="color"
                class="input-color"
                [(ngModel)]="classesColors[class]">
            <mat-icon
                (click)="DownloadSamplesByClass(class)">
                cloud_download
            </mat-icon>
        </div>
    </div>
</div>