.form-select {
    padding: 20px 0;
    border-bottom: 1px dashed #999;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
        display: block;
        margin: -15px auto 0 auto;
        width: 120px;
    }
}

.box-classes {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;

    .class {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
        padding: 10px;
        background: #EFEFEF;
        border-top: 1px solid #1da9f4;
        border-radius: 5px;
        border-bottom: 1px solid #1da9f4;

        .input-color {
            background: rgba(0,0,0,0.1);
            border-radius: 5px;
            padding: 0 2px;
            width: 25px;
            margin-left: 10px;
            height: 25px;
        }

        .actions {
            display: flex;
            margin-top: 5px;
        }

        .mat-icon {
            cursor: pointer;
            background: rgba(0,0,0,0.1);
            border-radius: 5px;
            padding: 0 2px 0 5px;
            width: 27px;
            margin-left: 10px;
            height: 27px;

            &:hover {
                background: rgba(0,0,0,0.2);
            }
        }
    }
}