@import '~leaflet/dist/leaflet.css';

@import "~element-angular/theme/index.css";

// DEFAULT
body {
    padding: 0;
    margin: 0;
}

// ANGULAR MATERIAL - THEMES
@import 'assets/styles/bdc-theme.scss';
@include mat-core();
@include angular-material-theme($bdc_theme);

.mat-drawer-side {
    border-right: none;
    box-shadow: 3px 0px 6px rgba(#000, 0.2);
}

.mat-form-field {
    width: 100%;
    padding: 0 5px;
}

.mat-radio-button.mat-accent.mat-radio-checked {
    color: var(--mainBgPrimary) !important;

    .mat-radio-inner-circle {
        background-color: var(--mainBgPrimary) !important;
    }

    .mat-radio-outer-circle {
        border-color: var(--mainBgPrimary) !important;
    }
}