.container-sidebyside {
    z-index: 999;
    top: 325px;
    left: 10px;
    position: absolute;
    display: flex;

    .btn-start {
        width: 30px;
        height: 30px;
        border-radius: 2px;
        border: 2px solid rgba(#000, 0.2);
        cursor: pointer;

        .mat-icon {
            background: #FFF;
            width: 28px;
            height: 28px;
            margin: 0;
            border-radius: 2px;
            padding: 2px 0 0 2px;

            &:hover {
                background: #EEE;
            }
        }
    }
}