@import 'src/assets/styles/admin-page-base.scss';

.cube-list {
    display: flex;
    width: 100%;
    margin-top: 25px;

    .cube_list-table {
        width: 100%;

        .list_btn-plus_details {
            display: flex;
            margin: 0 auto;
        }
    }
}
