.footer {
    display: flex;
    justify-content: center;
    background: var(--mainBgPrimary);
    box-shadow: 0px -3px 6px rgba(#000, 0.16);
    z-index: 999999;
    
    p {
        color: #FFF;
        margin: 7.5px 0;
    }
}