<section class="dialog-login">
    <h1 class="title">
        <mat-icon>lock</mat-icon>
        Brazil Data Cube
    </h1>

    <form [formGroup]="formLogin" (ngSubmit)="login()">
        <div class="content">
            <p>Login</p>

            <app-alert *ngIf="error"
                [type]="error.type"
                [message]="error.message">
            </app-alert>

            <mat-form-field appearance="fill" style="margin-top: 15px;">
                <mat-label>Username</mat-label>
                <input matInput
                    type="username"
                    name="username"
                    placeholder="Username"
                    [(ngModel)]="username"
                    formControlName="username"
                    required />
            </mat-form-field>

            <mat-form-field appearance="fill"  style="margin-top: -15px;">
                <mat-label>Password</mat-label>
                <input matInput
                    type="password"
                    name="password"
                    placeholder="Password"
                    [(ngModel)]="password"
                    formControlName="password"
                    required />
            </mat-form-field>
        </div>

        <div class="actions">
            <button mat-button type="button" class="btn-cancel" (click)="closeDialog()">Cancel</button>
            <button mat-raised-button type="submit" color="primary">Login</button>
        </div>
    </form>
</section>