<section class="dialog-feature">
    <header class="header">
        <h1 *ngIf="typeDownload == 'feature'">
            <mat-icon style="margin-right: 10px">list</mat-icon>
            {{ feature.id }}
        </h1>
        <p><b>CUBE:</b> {{ typeDownload == 'feature' ? feature.collection : features[0].collection }}</p>
        <p><b>DATE:</b> {{ typeDownload == 'feature' ? getDateFormated(feature.properties.datetime) : '2019-05-01 / 2019-05-05' }}</p>
    </header>

    <div class="box-assets">
        <span *ngIf="typeDownload == 'feature'; then downByFeature else downByCube"></span>
        <!-- FEATURE DOWNLOAD -->
        <ng-template #downByFeature>
            <div class="assets_features">
                <div *ngFor="let band of Object.keys(bands)">
                    <div class="assets" *ngIf="feature.assets[band]">
                        <p>{{ band.toUpperCase() }}</p>
                        <a [href]="feature.assets[band].href" target="_blank">
                            <mat-icon style="color: #000">arrow_downward</mat-icon>
                        </a>
                    </div>
                </div>
            </div>
        </ng-template>

        <!-- CUBE DOWNLOAD -->
        <ng-template #downByCube>
            <div class="assets_cubes">
                <div *ngFor="let band of Object.keys(bands)">
                    <mat-checkbox [(ngModel)]="bands[band]">{{ band }}</mat-checkbox>
                </div>
                
                <div class="buttons">
                    <button mat-raised-button color="primary" (click)="generateLinks()">
                        Generate Links
                    </button>

                    <a [href]="fileUrl" 
                        [download]="fileName"
                        [ngClass]="(fileUrl === '') ? 'disabled' : ''">
                        DownloadFile
                    </a>
                </div>
            </div>
        </ng-template>
        
    </div>
</section>
