<section class="explore">    
    <mat-drawer-container class="sidenav" autosize>
        <!-- NAVIGATION -->
        <mat-drawer #sidenav class="sidenav" mode="side" [opened]="true">
            <sidenav></sidenav>
        </mat-drawer>
        
        <!-- CONTENT -->
        <section>
            <div #toolbar>
                <toolbar (toggleToEmit)="toggleDrawer()"></toolbar>
            </div>

            <base-map [height]="innerHeight"></base-map>
        </section>
    </mat-drawer-container>
</section>

<footer #footer class="footer">
    <p>© 2019 - BRAZIL DATA CUBE (BDC)</p>
</footer>