@import 'src/assets/styles/admin-page-base.scss';

.create-cube {
    margin-top: 25px;

    hr {
        border-top: 1px dashed #999;
        background: none;
        margin: -10px 0 25px 0;
    }

    .inline-block {
        display: flex;
        align-items: center;
        padding: 0 10px;

        .mat-form-field {
            margin-right: 10px;
            min-width: 200px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .quicklook {
        .title-rgb {
            background: #FFF;
            padding: 0 7px;
            margin: -5px 0 0 10px;
        }
    
        .box-rgb {
            margin-top: -17px;
            padding-top: 10px;
            border-width: 3px;
            border-style: solid;
            border-image:
                linear-gradient(
                    to right,
                    red 0%,
                    red 33%,
                    green 33%,
                    green 66%,
                    blue 66%,
                    blue 100%
                ) 100% 0 0 0;
        }
    }
}