<section class="conatiner_page-not_authorized" *ngIf="authorized === false">
    You are not allowed to access this resource!
</section>

<section class="container-page__admin" *ngIf="authorized === true">
    <!-- TITLE -->
    <div class="admin-title">
        <div class="title">
            <span class="title-group">cubes /</span>
            <span class="title-sub-group">List</span>
        </div>
        <button
            mat-raised-button
            [routerLink]="'/admin/cubes/create'">
            <mat-icon>add</mat-icon> New Cube
        </button>
    </div>

    <!-- LIST -->
    <div class="cube-list">
        <table mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z1 cube_list-table"
            matSort
            matSortActive="date"
            matSortDisableClear
            matSortDirection="desc">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> NAME </th>
                <td mat-cell *matCellDef="let element"> {{ element.datacube }} </td>
            </ng-container>

            <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef> AUTOR </th>
                <td mat-cell *matCellDef="let element"> - </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> DATE </th>
                <td mat-cell *matCellDef="let element"> - </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="text-align: center"> ACTIONS </th>
                <td mat-cell *matCellDef="let element">
                    <div class="list_btn-plus_details">
                        <button
                            (click)="openDetails(element)"
                            mat-stroked-button>
                            + DETAILS
                        </button>
                        <button
                            (click)="openLogs(element)"
                            mat-stroked-button>
                            LOGS
                        </button>
                        <button
                            [routerLink]="'/admin/cubes/create/'+element.datacube"
                            color="primary"
                            mat-raised-button>
                            EDIT
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

</section>