@import 'src/assets/styles/admin-page-base.scss';

.cube-list {
    display: flex;
    width: 100%;
    margin-top: 25px;

    .cube_list-table {
        width: 100%;

        .list_btn-plus_details {
            width: 300px !important;
            display: flex;
            margin: 5px auto;
            justify-content: center;

            button {
                margin: 0 5px;
            }
        }
    }
}
